<!DOCTYPE html>
<html>
<head>
	<title>CC Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/dashboard.css">
	<link rel="stylesheet" href="/css/toggle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
	<script type="text/javascript" src="js/socket.io.js"></script>
</head>
<body ng-app="myApp">
<div class="container">
<script src="/js/controllers/dashboard.js"></script>
<script src="/js/dashboard_screen.js"></script>
	<div ng-controller="dashboard_ctrl">
		<div class="row">
			<div class="col-xs-12 col-md-3 widget">
				<h1>Perfil</h1>
				<h2>Usuario: {{user}}</h2>
				<div id="solicitud" ng-show="solicitud_pendiente">
					<h2><b>Solicitud pendiente</b></h2>
					<h2>Votos positivos {{positives}}</h2>
					<h2>Votos negativos {{negatives}}</h2>
					<h2>Vigencia {{request_time}}</h2>
					<h2>Cantidad {{amount}}</h2>
					<input type="hidden" id="start_time" ng-model="start_time">
				</div>
			</div>
			<div class="col-xs-12 col-md-4 col-md-offset-1 widget">
				<h1>Historial crediticio</h1>
				<div class="scroll_component">
					<div ng-repeat="row in my_history">
						<h2 class="approved" ng-show="row.approved">
							Si: {{row.positives}}  No: {{row.negatives}}
						</h2>
						<h2 class="not_approved" ng-hide="row.approved">
							Si: {{row.positives}}  No: {{row.negatives}}
						</h2>
					</div>
					<input ng-hide="solicitud_pendiente" class="button_history" type="submit" ng-click="show_make_new_request()" value="Nueva solicitud"/>
				</div>
			</div>
			<div class="col-xs-12 col-md-3 col-md-offset-1 widget">
				<h1>Solicitudes actuales</h1>
				<div class="scroll_component">
					<div class="creditrequest" ng-repeat="row in current_request">
						<div class="row">
							<h2>Solicitud de {{ row.user }}</h2>
							<h2>Si: {{row.positives}}  No: {{row.negatives}}</h2>
							<input type="submit" class="submit" ng-click="vote(row['user'], 1)" value="Voto SI"/>
							<input type="submit" class="submit" ng-click="vote(row['user'], 0)" value="Voto NO"/>
							<label class="switch">
								<input ng-model="show_history" ng-change="show_history_changed(row['user'], show_history)" type="checkbox">
								<span class="slider round"></span>
								<br>
							  	<div ng-show="other_history[row['user']]" ng-repeat="row_history in row['history']">
							  		<h2 class="approved" ng-show="row_history['approved']">
							  			Si: {{row_history.positives}}  No: {{row_history.negatives}}
							  		</h2>
							  		<h2 class="not_approved" ng-hide="row_history['approved']">
							  			Si: {{row_history.positives}}  No: {{row_history.negatives}}
							  		</h2>
							  	</div>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-show="show_capture_request">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<form ng-submit="make_new_request(credit_type, amount)" style="height: 150px">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<h1>Ingrese las especificaciones de la solicitud</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<select class="select_style" ng-model="credit_type">
								<option value="1">3 pagos: 5% de interés</option>
								<option value="2">6 pagos: 7% de interés</option>
								<option value="3">9 pagos: 12% de interés</option>
							</select>
						</div>
						<div class="col-xs-12 col-md-4">
							<input ng-model="amount" type="number" placeholder="cantidad deseada"/>
						</div>
						<div class="col-xs-12 col-md-4">
						    <input type="submit" class="submit" value="Aceptar"/>
						</div>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>