html, body {
  background:#2F1E27;
}

body {
  text-align:center;
}

input {
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px;
  font-weight: bold;
}

.button_history {
  background:rgba(197,62,126,.33) ! important;
  color:#fff;
  position:relative;
  top:20px; 
  width:160px;
}

.widget {
  top:100px;
  background:#AF9EA7;
  height: 500px;
}

h1 {
  color:#101010;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.approved {
  background-color: #44CC33;
}

.not_approved {
  background-color: #CC4433;
}

.creditrequest {
  /*background-color: #05601c;*/
  background-color: #FFFFFF;
}

.scroll_component {
  overflow-y: scroll;
  height: 440px;
}

form {
  background-color: #8eb3f2;
}

.select_style {
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding: 2px 10px;
  width: 300px;
  *background: #58B14C;
}
