html, body {
  background:#2F1E27;
}

body {
  text-align:center;
}

.central_form {
  position:relative;
  top:400px;
}

input {
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px;
  font-weight: bold;
}

input[type="submit"] {
  background:rgba(197,62,126,.33) ! important;
  color:#fff;
  position:relative;
  top:25px; 
  width:100px;
}

h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  color:#A44;
  vertical-align:middle;
}